.holpic {
    border-radius: 30px;
    width: 500px;
    border-style: solid;
    border-width: 3px;

}
p {
    font-size: 20px;
}

.btnPrimary{
    background-color:#505760;  
    color: #cbd3e0;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight:500;
    box-shadow:inset;
    margin-right: 10px;
}
.btnPrimary:hover{
    cursor: pointer;
    padding: 11px;
}
.btnSecondary{
    background-color:#FEA538;  
    color: #505760;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight:500;
    box-shadow:inset;
}
.btnSecondary:hover{
    cursor: pointer;
    padding: 11px;
}