.header {
    display: flex;
    padding-bottom: 20px;
    justify-content:flex-end;
    font-size: 20px;
    border-bottom-style: solid;
    position: sticky; 
    top: 0;
    background-color: #505760;
    z-index: 1;
}

.navFont{
    text-decoration: none;
    color: inherit;
    /* font-weight: bold; */
    padding: 15px;
}
.navFont:hover{
    text-decoration:underline;
    color: inherit;
}

.current, .current:hover {
    color: #FEA538;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    cursor:default;
    padding: 10px;
    
}