.gradPic {
    max-width: 400px;
    border-radius: 400px;
    padding: 30px;
    /* margin-right: 100px; */
}

.streak {

    background-image: linear-gradient(to right, var(--secondary) 60%, var(--primary));
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom-right-radius: 500px  ; */
    /* border-top-right-radius: 500px  ; */
    color: var(--primary);
    margin-top: 100px;
    border-color: var(--tertiary);
    border-width: 3px;
    border-top-style: solid;

}
.myName {
    font-size: 60px;
    margin: 0;
}
.hello {
    margin: 0;
    font-size: 40px;
}
.jobTitle {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-style: italic;
    color: var(--tertiary);
}
@media screen and (max-width: 850px){
    .gradPic {
        max-width: 80%;
        border-radius: 400px;
        padding: 30px;
    }
    
    .streak {
    
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        border-bottom-right-radius: 0px  ;
        /* border-bottom-left-radius: 500px  ; */
        border-top-right-radius: 0 ;
        color: var(--primary);
        margin-top: 100px;
        border-color: var(--tertiary);
        border-width: 5px;
        border-top-style: solid;
    }
    .myName {
        font-size: 30px;
        margin: 0;
    }
    .hello {
        margin: 0;
        font-size: 20px;
    }
    .jobTitle {
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-style: italic;
        color:var(--tertiary);
    }
}
