.footer {
    padding-top: 20px;
    border-top-style: solid;
}

.contactList {
    list-style: none;
}

li {
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: #cbd3e0;
}
a:hover {
    font-weight: bold;
    /* color: orangered; */
}

.email {
    background-color: #cbd3e0;
    width: 40px;
    border-radius: 30px;
}