.footer {
    padding-top: 20px;
    /* position:sticky; */
    /* bottom: 0; */
    background-color: var(--primary);
}

.contactList {
    list-style: none;
}

li {
    padding-left: 20px;
    list-style: none;
}
.contactLink {
    text-decoration: none;
    color: var(--secondary);
}
.contactLink:hover {
    font-weight: bold;
    color: var(--tertiary);
}

.email {
    background-color: var(--secondary);
    width: 40px;
    border-radius: 30px;
}

